table {
  border-collapse: collapse;
  border-radius: 20px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #666;
  
}

th, td {
  padding: 5px;
  min-width: 150px;
  text-align: center;
}

.todo, .done {
  margin-bottom: 50px;
}

button {
  border-radius: 20px;
  font-weight: bold;
  height: 30px;
  margin: 0 5px;
}


td {
  border: 1px solid #ccc;
}